.profile-container
{
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    width: 100vw;
    padding: 10vh 0;
}

.profile-page
{
    width: 60vw;
    margin: 0 20vw;
    padding: 3%;
    height: auto;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 black;
    border-radius: 15px;
    background-color: #f5fdff;
}

.company-logo
{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
}

.activity-links
{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    row-gap: 25px;
    column-gap: 25px;
    padding: 10px;
    // background-color: bisque;
    margin-bottom: 8%;
}

.profile-info
{
    // background-color: antiquewhite;
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;

    img
    {
        height: 60px;
        width: 60px;
        transform: translateY(-30px);
        border-radius: 50%;
        border-radius: 1px solid black;;
    }

    .profile-stats
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: auto;
    }

    .social-media-links
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        margin-bottom: 3%;

        a
        {
            color: black;
        }
    }
}

.slideshow
{
    height: 40vh;
    width: 80%;
    border-radius: 10px;
    margin: 8% 0;
    img
    {
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
}

.join-button
{
    height: 5vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
    
    .profile-page
    {
        width: 100vw;
        margin: 0;
    }

    .profile-info
    {
        width: 80%;

        .social-media-links
        {
            width: 60%;
        }

        .profile-stats{
            width: 100%;
        }
    }

    .activity-links
    {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%;
        width: 100%;
    }

    .slideshow
    {
        margin: 4vh;
        width: 90%;
    }
}
