.Avtar-background{
    background-image: url("https://images.unsplash.com/photo-1504203772830-87fba72385ee?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym95fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    height:80vh;
    padding: 0px !important;
    width: 100%;
    overflow:hidden;
}   

.profile-main-section {
    position: absolute;
    width: 100%;
    bottom: 1px;
    
}

.profile-content{
    margin: auto;
    width: 99%;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/* .profile-content:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  } */

.first-profile-section{
    text-align: center;
}

.first-profile-section h4, h6{
    /* font-weight: bold; */
}


.groups-section{
    display:flex;
    flex-direction:column;
}
.groups-section h6{
    margin-bottom: 2rem;
}

.group-row{
    /* display:flex; */

    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.group-invite:not(:last-child){
    margin-right: 1rem;
}

.profile-image{
    width:150px;
    height:150px;
    border-radius: 50%;
    width:100%;
    height:100%;
}

.profile-text p{
    text-align:left;
    font-size: 20px;
}


@media screen and (max-width:840px) {
    .profile-content{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
}

@media screen and (max-width: 768px){
    .profile-text p{
        font-size: 17px;
    }
    
}