@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Ephesis&family=Noto+Sans+Display&family=Noto+Sans+Mono&family=Oswald&family=Playfair+Display&family=Raleway:ital,wght@1,300&family=Roboto&display=swap');


.appearance-page
{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    height: auto;
    width: 60vw;
}

.choose-section
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}

.choose-section h5
{
    cursor: pointer;

}

h5{
    width: 50%;
    text-align: center;
    padding: 2%;
    transition: 0.2s;
}

h5:hover
{
    transform: scale(1.1);
}

.background-section
{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

.font-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.backgrounds-container
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3,150px);
    justify-items: center;
    gap: 1rem 1rem;
    height: 50vh;
    width: 100%;
    border: none;
    padding: 3%;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* box-shadow: 0 0 10px 2px black; */
    /* border: 1px solid black; */
}

.backgrounds-container::-webkit-scrollbar
{
    display: none;
}

.fonts-container
{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1rem;
    grid-template-rows: repeat(auto-fit,1fr);
    overflow-y: none;
    width: 100%;
    padding: 3%;
    border: none;
    border-radius: 10px;
}


/*Mobile View*/

@media (max-width: 454px)
{
    .appearance-page
    {
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        width: 100vw;
    }


    .background-section
    {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backgrounds-container
    {
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-template-rows: repeat(auto-fill,65px);
        height: 100%;
        width: 100%;
        border: none;
        padding: 3%;
        overflow-y: scroll;
        scrollbar-width: none;
        /* box-shadow: 0 0 10px 2px black; */
    }

    .font-section
    {
        display: flex;
        justify-content: center;
        height: 50%;
        width: 100%;
        align-items: center;
        width: 100%;
    }

    .fonts-container
    {
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem 1rem;
        grid-template-rows: repeat(auto-fill,1fr);
        overflow-y: none;
        width: 100%;
        padding: 3%;
        border: none;
        border-radius: 10px;
    }

    h5{
        width: 100vw;
        text-align: center;
        padding: 2%;
        transition: 0.2s;
    }
    
    h5:hover
    {
        transform: scale(1.1);
    }
}